[Unit]
Description=Network Nanny network tester

[Service]
WorkingDirectory=/var/ispInfidel/networkFlaskApp/
User=pi
ExecStart=/bin/bash /var/ispInfidel/networkFlaskApp/runAnnoy.sh

[Install]
WantedBy=multi-user.target
