[Unit]
Description=Network Nanny flask app

[Service]
WorkingDirectory=/var/ispInfidel/networkFlaskApp/
User=pi
ExecStart=/usr/bin/python3 /var/ispInfidel/networkFlaskApp/app.py

[Install]
WantedBy=multi-user.target
